
@{
    ViewData["Title"] = "Login";
}

<div class="main-content bg-color">
    <div class="container">
        <div class="user-account text-center" style="">
            <div class="account-content">
                <div class="logo">
                    <a href="index.html"><img class="img-fluid" src="~/images/logo.png" alt="Logo"></a>
                </div>
                <h1>Sign In</h1>
                <p>Subscribe now and get a exlusive five-mounth trial time. </p>
                <form action="#" class="tr-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" required="required">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" required="required">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Sign In">
                    <div class="forgot-password">
                        <a href="#">Forgot Password</a>
                    </div>
                </form>
                <ul class="global-list social">
                    <li class="pull-left"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="pull-right"><a href="#"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div><!-- /.account-content -->
        </div><!-- /.user-account  -->
    </div><!-- /.container -->
</div><!-- /.main-content -->