<div class="contact-info">
    <h3>General inquirles</h3>
    <div class="media">
        <div class="icon mr-5">
            <i class="fa fa-phone" aria-hidden="true"></i>
        </div>
        <div class="media-body">
            <span>+1234567890</span>
            <span>+1 (234) 5678910</span>
        </div>
    </div><!-- /.media -->

    <div class="media">
        <div class="icon mr-5">
            <i class="fa fa-envelope" aria-hidden="true"></i>
        </div>
        <div class="media-body">
            <span><a href="#">hello@site.co.uk</a></span>
        </div>
    </div><!-- /.media -->

    <div class="tr-address">
        <span>Our location</span>
        <div class="media">
            <div class="icon mr-5">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <div class="media-body">
                <address>Level 1, 244 Smith Street, Fitzroy Vic 3065 AU</address>
            </div>
        </div><!-- /.media -->
    </div>

</div><!-- /.contact-info -->