<div class="contact-form">
    <h3>Request information</h3>
    <form class="tr-form" name="contact-form" method="post" action="#">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                    <input type="text" class="form-control" required="required" placeholder="Your Name">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                    <input type="email" class="form-control" required="required" placeholder="Email Address">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="input-group-addon"><i class="fa fa-comment" aria-hidden="true"></i></div>
                    <textarea name="message" class="form-control" required="required" rows="5" placeholder="Message"></textarea>
                </div>
                <input type="submit" class="btn btn-primary text-center" value="Send message">
            </div>
        </div><!-- /.row -->
    </form>
</div><!-- /.contact-form -->