<div class="gb-sidebar">
    <div class="widget-area">
        <div class="widget widget_categories">
            <h3 class="widget_title">Categories</h3>
            <ul>
                <li><a href="#">All Post</a>(2)</li>
                <li><a href="#">Vegetables</a>(3)</li>
                <li><a href="#">Fruits</a>(7)</li>
                <li><a href="#">Dried</a>(1)</li>
                <li><a href="#">Vegetables</a> (9)</li>
                <li><a href="#">Dried Fruit </a>(10)</li>
            </ul>
        </div><!-- /.widget -->

        <div class="widget">
            <h3 class="widget_title">Price Ranger</h3>
            <form method="get" action="#">
                <div id="price_slider"></div>
                <div class="price_slider_amount">
                    <input type="text" id="amount">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </form>
        </div><!-- /.widget -->

        <div class="widget widget_media_image">
            <img src="~/images/blog/widget2.jpg" alt="Image" class="img-fluid">
        </div><!-- /.widget -->

        <div class="widget widget_recent_entries">
            <h3 class="widget_title">Popular Products</h3>
            <ul>
                <li>
                    <div class="product">
                        <a href="shop-details.html" class="media">
                            <span class="product-image">
                                <img src="~/images/product/product1.png" alt="Image" class="img-fluid">
                            </span>
                            <span class="product-info media-body">
                                <span class="product-title">Organic <strong>Tomato</strong></span>
                                <span class="price"><del>$15.00</del>$12.00</span>
                            </span>
                        </a>
                    </div><!-- /.product -->
                </li>
                <li>
                    <div class="product">
                        <a href="shop-details.html" class="media">
                            <span class="product-image">
                                <img src="~/images/product/product2.png" alt="Image" class="img-fluid">
                            </span>
                            <span class="product-info media-body">
                                <span class="product-title">Organic <strong>Cabbage</strong></span>
                                <span class="price"><del>$15.00</del>$12.00</span>
                            </span>
                        </a>
                    </div><!-- /.product -->
                </li>
                <li>
                    <div class="product">
                        <a href="shop-details.html" class="media">
                            <span class="product-image">
                                <img src="~/images/product/product3.png" alt="Image" class="img-fluid">
                            </span>
                            <span class="product-info media-body">
                                <span class="product-title">Organic <strong>Onion</strong></span>
                                <span class="price"><del>$15.00</del>$12.00</span>
                            </span>
                        </a>
                    </div><!-- /.product -->
                </li>
            </ul>
        </div><!-- /.widget -->

    </div><!-- /.widget-area -->
</div><!-- /.gb-sidebar -->   