<div class="tr-topbar">
    <div class="container">
        <div class="topbar-content">
            <div class="float-left">
                <span><span class="icon icon-phone-call"></span> Call us <span class="number">+123 45 67 89</span></span>
            </div>
            <div class="float-right">
                <div class="user-option">
                    <span class="icon icon-avatar"></span>
                    <a href="signin.html">Login</a>  /  <a href="signup.html">Signup</a>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
</div><!-- /.tr-topbar -->