<div class="tr-farmfood farmfood-two section-padding bg-image" style="background-image: url(images/bg/farmfood.jpg);">
    <div class="container">
        <div class="section-title">
            <h1>Hot deal  of the day</h1>
            <h2>We are organic <strong>farmfood</strong></h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="farmfood">
                    <div class="icon">
                        <span class="icon icon-steak"></span>
                    </div>
                    <div class="food-info">
                        <h3>100% <span>Organic</span></h3>
                        <p>Suspendisse ultricies nisi vel quam suscipit, et rutrum odio porttitor.</p>
                    </div>
                </div><!-- /.farmfood -->
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="farmfood">
                    <div class="icon">
                        <span class="icon icon-bread-1"></span>
                    </div>
                    <div class="food-info">
                        <h3>Fresh <span>Breads</span></h3>
                        <p>Suspendisse ultricies nisi vel quam suscipit, et rutrum odio porttitor.</p>
                    </div>
                </div><!-- /.farmfood -->
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="farmfood">
                    <div class="icon">
                        <span class="icon icon-cabbage"></span>
                    </div>
                    <div class="food-info">
                        <h3>Harvest <span>Everyday</span></h3>
                        <p>Suspendisse ultricies nisi vel quam suscipit, et rutrum odio porttitor.</p>
                    </div>
                </div><!-- /.farmfood -->
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="farmfood">
                    <div class="icon">
                        <span class="icon icon-sandwich"></span>
                    </div>
                    <div class="food-info">
                        <h3>Premium <span>Quality</span></h3>
                        <p>Suspendisse ultricies nisi vel quam suscipit, et rutrum odio porttitor.</p>
                    </div>
                </div><!-- /.farmfood -->
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.tr-farmfood -->