<div class="tr-pricing  section-padding bg-image" style="background-image: url(images/bg/farmfood.jpg);">
    <div class="container">
        <div class="section-title">
            <h1>Discover Pricing</h1>
            <h2>Pricing <strong>List</strong></h2>
        </div>
        <div class="pricing-content pricing-one section-bg-white">
            <ul class="nav nav-tabs pricing-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#breakfest" id="breakfest-tab" role="tab" data-toggle="tab" aria-controls="breakfest" aria-expanded="true">Breakfest</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#lunch" role="tab" id="lunch-tab" data-toggle="tab" aria-controls="lunch">Lunch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#dinner" role="tab" id="dinner-tab" data-toggle="tab" aria-controls="dinner">Dinner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#drinks" role="tab" id="drinks-tab" data-toggle="tab" aria-controls="drinks">Drinks</a>
                </li>
            </ul><!-- /.pricing-tabs -->

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade show active" id="breakfest" aria-labelledby="breakfest-tab">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="global-list">
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Bacon avocado cheeseburger</a></span></h3>
                                        </div>
                                        <span class="time ml-4">12.50</span>
                                    </div>
                                    <p>Crispy bacon, fresh avocado and melted</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Cali club sandwich</a></span></h3>
                                        </div>
                                        <span class="time ml-4">24.45</span>
                                    </div>
                                    <p>Homemade with roasted seasoned chicken</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Honey-Brined Pork Chop</a></span></h3>
                                        </div>
                                        <span class="time ml-4">32.50</span>
                                    </div>
                                    <p>Roasted Savoy Cabbage, Apple Butter, Roasted Cipollini 34</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Bacon avocado cheeseburger</a></span></h3>
                                        </div>
                                        <span class="time ml-4">12.50</span>
                                    </div>
                                    <p>Crispy bacon, fresh avocado and melted</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="global-list">
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Cali club sandwich</a></span></h3>
                                        </div>
                                        <span class="time ml-4">24.45</span>
                                    </div>
                                    <p>Homemade with roasted seasoned chicken</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Bacon avocado cheeseburger</a></span></h3>
                                        </div>
                                        <span class="time ml-4">12.50</span>
                                    </div>
                                    <p>Crispy bacon, fresh avocado and melted</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Honey-Brined Pork Chop</a></span></h3>
                                        </div>
                                        <span class="time ml-4">32.50</span>
                                    </div>
                                    <p>Roasted Savoy Cabbage, Apple Butter, Roasted Cipollini 34</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Bacon avocado cheeseburger</a></span></h3>
                                        </div>
                                        <span class="time ml-4">12.50</span>
                                    </div>
                                    <p>Crispy bacon, fresh avocado and melted</p>
                                </li>
                            </ul>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.tab-pane -->

                <div role="tabpanel" class="tab-pane fade" id="lunch" aria-labelledby="lunch-tab">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="global-list">
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Cali club sandwich</a></span></h3>
                                        </div>
                                        <span class="time ml-4">24.45</span>
                                    </div>
                                    <p>Homemade with roasted seasoned chicken</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Bacon avocado cheeseburger</a></span></h3>
                                        </div>
                                        <span class="time ml-4">12.50</span>
                                    </div>
                                    <p>Crispy bacon, fresh avocado and melted</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Honey-Brined Pork Chop</a></span></h3>
                                        </div>
                                        <span class="time ml-4">32.50</span>
                                    </div>
                                    <p>Roasted Savoy Cabbage, Apple Butter, Roasted Cipollini 34</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Bacon avocado cheeseburger</a></span></h3>
                                        </div>
                                        <span class="time ml-4">12.50</span>
                                    </div>
                                    <p>Crispy bacon, fresh avocado and melted</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="global-list">
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Bacon avocado cheeseburger</a></span></h3>
                                        </div>
                                        <span class="time ml-4">12.50</span>
                                    </div>
                                    <p>Crispy bacon, fresh avocado and melted</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Cali club sandwich</a></span></h3>
                                        </div>
                                        <span class="time ml-4">24.45</span>
                                    </div>
                                    <p>Homemade with roasted seasoned chicken</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Honey-Brined Pork Chop</a></span></h3>
                                        </div>
                                        <span class="time ml-4">32.50</span>
                                    </div>
                                    <p>Roasted Savoy Cabbage, Apple Butter, Roasted Cipollini 34</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Bacon avocado cheeseburger</a></span></h3>
                                        </div>
                                        <span class="time ml-4">12.50</span>
                                    </div>
                                    <p>Crispy bacon, fresh avocado and melted</p>
                                </li>
                            </ul>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.tab-pane -->

                <div role="tabpanel" class="tab-pane fade" id="dinner" aria-labelledby="dinner-tab">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="global-list">
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Cali club sandwich</a></span></h3>
                                        </div>
                                        <span class="time ml-4">24.45</span>
                                    </div>
                                    <p>Homemade with roasted seasoned chicken</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Bacon avocado cheeseburger</a></span></h3>
                                        </div>
                                        <span class="time ml-4">12.50</span>
                                    </div>
                                    <p>Crispy bacon, fresh avocado and melted</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Honey-Brined Pork Chop</a></span></h3>
                                        </div>
                                        <span class="time ml-4">32.50</span>
                                    </div>
                                    <p>Roasted Savoy Cabbage, Apple Butter, Roasted Cipollini 34</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Bacon avocado cheeseburger</a></span></h3>
                                        </div>
                                        <span class="time ml-4">12.50</span>
                                    </div>
                                    <p>Crispy bacon, fresh avocado and melted</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="global-list">
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Bacon avocado cheeseburger</a></span></h3>
                                        </div>
                                        <span class="time ml-4">12.50</span>
                                    </div>
                                    <p>Crispy bacon, fresh avocado and melted</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Cali club sandwich</a></span></h3>
                                        </div>
                                        <span class="time ml-4">24.45</span>
                                    </div>
                                    <p>Homemade with roasted seasoned chicken</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Honey-Brined Pork Chop</a></span></h3>
                                        </div>
                                        <span class="time ml-4">32.50</span>
                                    </div>
                                    <p>Roasted Savoy Cabbage, Apple Butter, Roasted Cipollini 34</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Bacon avocado cheeseburger</a></span></h3>
                                        </div>
                                        <span class="time ml-4">12.50</span>
                                    </div>
                                    <p>Crispy bacon, fresh avocado and melted</p>
                                </li>
                            </ul>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.tab-pane -->

                <div role="tabpanel" class="tab-pane fade" id="drinks" aria-labelledby="drinks-tab">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="global-list">
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Bacon avocado cheeseburger</a></span></h3>
                                        </div>
                                        <span class="time ml-4">12.50</span>
                                    </div>
                                    <p>Crispy bacon, fresh avocado and melted</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Cali club sandwich</a></span></h3>
                                        </div>
                                        <span class="time ml-4">24.45</span>
                                    </div>
                                    <p>Homemade with roasted seasoned chicken</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Honey-Brined Pork Chop</a></span></h3>
                                        </div>
                                        <span class="time ml-4">32.50</span>
                                    </div>
                                    <p>Roasted Savoy Cabbage, Apple Butter, Roasted Cipollini 34</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Bacon avocado cheeseburger</a></span></h3>
                                        </div>
                                        <span class="time ml-4">12.50</span>
                                    </div>
                                    <p>Crispy bacon, fresh avocado and melted</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="global-list">
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Cali club sandwich</a></span></h3>
                                        </div>
                                        <span class="time ml-4">24.45</span>
                                    </div>
                                    <p>Homemade with roasted seasoned chicken</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Bacon avocado cheeseburger</a></span></h3>
                                        </div>
                                        <span class="time ml-4">12.50</span>
                                    </div>
                                    <p>Crispy bacon, fresh avocado and melted</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Honey-Brined Pork Chop</a></span></h3>
                                        </div>
                                        <span class="time ml-4">32.50</span>
                                    </div>
                                    <p>Roasted Savoy Cabbage, Apple Butter, Roasted Cipollini 34</p>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h3><span><a href="#">Bacon avocado cheeseburger</a></span></h3>
                                        </div>
                                        <span class="time ml-4">12.50</span>
                                    </div>
                                    <p>Crispy bacon, fresh avocado and melted</p>
                                </li>
                            </ul>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.tab-pane -->

            </div><!-- /.tab-content -->
        </div><!-- /.pricing-content -->
    </div><!-- /.container -->
</div><!-- /.tr-pricing -->