<div id="home-carousel" class="carousel slide home-slider slider-two tr-banner" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item item active">
            <div class="item-middle">
                <div class="middle-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="banner-image" data-animation="animated fadeInLeft">
                                    <img src="~/images/others/banner-img.png" alt="Image" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="banner-info">
                                    <h1 data-animation="animated fadeInDown">Welcome To Biotic</h1>
                                    <h2 data-animation="animated fadeInDown">Organic Food</h2>
                                    <p data-animation="animated fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                                    <a href="#" data-animation="animated fadeInDown" class="btn btn-primary">View More</a>
                                </div>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div><!-- /.middle-content -->
            </div><!-- /.item-middle -->
        </div><!-- /.carousel-item -->

        <div class="carousel-item">
            <div class="item-middle">
                <div class="middle-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="banner-image" data-animation="animated fadeInDown">
                                    <img src="~/images/others/banner-img.png" alt="Image" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="banner-info">
                                    <h1 data-animation="animated pulse">Welcome To Biotic</h1>
                                    <h2 data-animation="animated pulse">Organic Food</h2>
                                    <p data-animation="animated pulse">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                                    <a href="#" data-animation="animated pulse" class="btn btn-primary">View More</a>
                                </div>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div><!-- /.middle-content -->
            </div><!-- /.item-middle -->
        </div><!-- /.carousel-item -->

        <div class="carousel-item">
            <div class="item-middle">
                <div class="middle-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="banner-image" data-animation="animated zoomIn">
                                    <img src="~/images/others/banner-img.png" alt="Image" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="banner-info">
                                    <h1 data-animation="animated fadeInLeft">Welcome To Biotic</h1>
                                    <h2 data-animation="animated fadeInLeft">Organic Food</h2>
                                    <p data-animation="animated fadeInLeft">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                                    <a href="#" data-animation="animated fadeInLeft" class="btn btn-primary">View More</a>
                                </div>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div><!-- /.middle-content -->
            </div><!-- /.item-middle -->
        </div><!-- /.carousel-item -->
    </div><!-- /.carousel-inner -->
    <div class="container indicators-content">
        <ol class="carousel-indicators">
            <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#home-carousel" data-slide-to="1"></li>
            <li data-target="#home-carousel" data-slide-to="2"></li>
        </ol>
    </div><!-- /.container -->
</div><!-- /#home-slider -->