<div class="tr-breadcrumb text-center bg-image" style="background-image: url(images/bg/breadcrumb-bg.jpg);">
    <div class="container">
        <div class="page-title">
            <h1>Stay With Us</h1>
            <h2>Blog Details</h2>
        </div>
    </div><!-- /.container -->
</div><!-- /.tr-breadcrumb -->