@model Hashdji.Software.Shop.Models.ProductViewModels.ProductListViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "_ProductLayout";
}

<div class="tr-products">
    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-md-6 col-lg-4">
                <partial name="_ProductListItem" model="product" />
            </div>
        }
    </div><!-- /.row -->
</div><!-- /.tr-products -->

<partial name="_Pagination" model="Model"/>