
a:hover, 
a:focus,
.topbar-content a:hover,
.topbar-content .float-left .number,
.navbar-nav .active>.nav-link,
.navbar-nav .nav-link.active, 
.navbar-nav .nav-link.open, 
.navbar-nav .open>.nav-link, 
.navbar-nav .nav-link:focus, 
.navbar-nav .nav-link:hover,
.tr-menu .float-right li i:hover, 
.tr-menu .float-right li .icon:hover,
.farmfood ul li .icon, .farmfood-two .farmfood .icon,
.product-icon i, .product-icon .icon,
.btn.btn-primary:hover, .product .price,
.cta-info h2, .countdown li,
.entry-content a:hover, .footer-widget h3,
.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link:hover, .nav-tabs .nav-link.active,
.pricing-one .time, .pricing-one h3 a:hover,
.footer-bottom .select-option select,
.topbar-two .select-option select option,
.slider-two .btn.btn-primary, .footer-bottom .float-left a,
.cta-two .btn.btn-primary, .testimonial-title h1,
.pagination>.active>.page-numbers, .pagination>.active>.page-numbers:focus, 
.pagination>.active>.page-numbers:hover, .pagination>.active>span, 
.pagination>.active>span:focus, .pagination>.active>span:hover, 
.pagination>li>.page-numbers:focus, .pagination>li>.page-numbers:hover, 
.pagination>li>span:focus, .pagination>li>span:hover,
.product-details-info .price, .product-details-info ul li:before,
.add-to-cart span a, .quantity a:hover, .widget .post-date, 
.widget.widget_recent_entries a:hover, .contact-info .icon,
.pricing .price.active>span, .pricing .price.active 
.btn.btn-primary:hover, .pricing .btn.btn-primary,
.total-surface span, .blockquote span, .tr-follow,
.comment-box .comment-meta a:hover,
.user-account .btn.btn-primary:hover,
.navbar-toggler-icon::before{
    color: #2F80ED;
}

.topbar-two path {
	fill: #2F80ED;
}

.cart-number,
.btn.btn-primary,
.product-icon i:hover, 
.product-icon .icon:hover,
.slick-dots li:hover, 
.slick-dots li.slick-active,
.post-time span, .tagcloud a:hover,
.ui-slider .ui-slider-handle,
.ui-slider, .add-to-cart span:hover,
.pagination>li>.page-numbers:before, 
.pagination>li>.page-numbers:after,
.description-tabs>li>a:after,
.pricing .price.active .btn.btn-primary,
.pricing .btn.btn-primary:hover,
.pricing.pricing-three .btn.btn-primary:hover {
	background-color: #2F80ED;
}

.btn.btn-primary,
.form-control:focus,
.contact-form .form-control:focus,
.pricing .price.active .btn.btn-primary,
.pricing.pricing-three .price.active .btn.btn-primary,
.pricing.pricing-three .btn.btn-primary:hover,
.navbar-toggler-right {
	border-color: #2F80ED;
}

.footer-widget .btn.btn-primary {
	background-image: url(../../images/presets/preset5/submit.png);
}

.tr-comments .btn.btn-primary {
	background-image: url(../../images/presets/preset5/submit1.png);
}

.cta-two {
	background-image: url(../../images/presets/preset5/cta-bg.jpg);
}

.home-slider.slider-two{
	background: rgb(30,87,153);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMWU1Nzk5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMyOTg5ZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkxMDA5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMmZlNmVkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJmODBlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(45deg, rgb(30,87,153) 0%, rgb(41,137,216) 0%, rgb(145,0,150) 0%, rgb(47,230,237) 0%, rgb(47,128,237) 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgb(30,87,153)), color-stop(0%,rgb(41,137,216)), color-stop(0%,rgb(145,0,150)), color-stop(0%,rgb(47,230,237)), color-stop(100%,rgb(47,128,237)));
	background: -webkit-linear-gradient(45deg, rgb(30,87,153) 0%,rgb(41,137,216) 0%,rgb(145,0,150) 0%,rgb(47,230,237) 0%,rgb(47,128,237) 100%);
	background: -o-linear-gradient(45deg, rgb(30,87,153) 0%,rgb(41,137,216) 0%,rgb(145,0,150) 0%,rgb(47,230,237) 0%,rgb(47,128,237) 100%);
	background: -ms-linear-gradient(45deg, rgb(30,87,153) 0%,rgb(41,137,216) 0%,rgb(145,0,150) 0%,rgb(47,230,237) 0%,rgb(47,128,237) 100%);
	background: linear-gradient(45deg, rgb(30,87,153) 0%,rgb(41,137,216) 0%,rgb(145,0,150) 0%,rgb(47,230,237) 0%,rgb(47,128,237) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2f80ed',GradientType=1 );
}

.watch-video:before {
	background: rgb(30,87,153,0.9);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMWU1Nzk5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMyOTg5ZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkxMDA5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMmZlNmVkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJmODBlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(45deg, rgba(30,87,153,0.9) 0%, rgba(41,137,216,0.9) 0%, rgba(145,0,150,0.9) 0%, rgba(47,230,237,0.9) 0%, rgba(47,128,237,0.9) 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(30,87,153,0.9)), color-stop(0%,rgba(41,137,216,0.9)), color-stop(0%,rgba(145,0,150,0.9)), color-stop(0%,rgba(47,230,237,0.9)), color-stop(100%,rgba(47,128,237,0.9)));
	background: -webkit-linear-gradient(45deg, rgba(30,87,153,0.9) 0%,rgba(41,137,216,0.9) 0%,rgba(145,0,150,0.9) 0%,rgba(47,230,237,0.9) 0%,rgba(47,128,237,0.9) 100%);
	background: -o-linear-gradient(45deg, rgba(30,87,153,0.9) 0%,rgba(41,137,216,0.9) 0%,rgba(145,0,150,0.9) 0%,rgba(47,230,237,0.9) 0%,rgba(47,128,237,0.9) 100%);
	background: -ms-linear-gradient(45deg, rgba(30,87,153,0.9) 0%,rgba(41,137,216,0.9) 0%,rgba(145,0,150,0.9) 0%,rgba(47,230,237,0.9) 0%,rgba(47,128,237,0.9) 100%);
	background: linear-gradient(45deg, rgba(30,87,153,0.9) 0%,rgba(41,137,216,0.9) 0%,rgba(145,0,150,0.9) 0%,rgba(47,230,237,0.9) 0%,rgba(47,128,237,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2f80ed',GradientType=1 );
}